.root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.total {
  margin-bottom: 0;
}

.legend {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 1rem;
}
