:root {
  --main: #dc6fc5;
  --green-main: #4caf50;
  --green-light: #8bc34a;
  --green-dark: #388e3c;
}

html,
body {
  margin: 0;
  background-color: white;
  color: #2c2e2f;
  font-family: 'PayPal Sans Big Medium Regular', 'Helvetica Neue', Arial,
    sans-serif;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

body {
  padding: 0.5rem;
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
